dm_cs_Azure/JavaAPI/CreateJibxObject/src/main/resources/NppLifeCycle.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="NPPLIFECYCLE_MAPPING_LIST">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="NPPLIFECYCLE_MAPPING_INFO" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="SerialNumber"/>
              <xs:element type="xs:string" name="CCS_ACCT_TYPE_ID"/>
              <xs:element type="xs:string" name="State"/>
              <xs:element type="xs:string" name="Ignore_Flag"/>
              <xs:element type="xs:string" name="SC_Target"/>
              <xs:element type="xs:string" name="PBT_ID"/>
              <xs:element type="xs:string" name="UA"/>
              <xs:element type="xs:string" name="OFFER" minOccurs="0"/>
              <xs:element type="xs:string" name="SUP_EXPIRY_Date" minOccurs="0"/>
              <xs:element type="xs:string" name="SUF_DAYS" minOccurs="0"/>
              <xs:element type="xs:string" name="SUP_STATUS" minOccurs="0"/>
              <xs:element type="xs:string" name="SFEE_EXPIRY_Date" minOccurs="0"/>
              <xs:element type="xs:string" name="SFEE_STATUS" minOccurs="0"/>
              <xs:element type="xs:string" name="ACTIVATED" minOccurs="0"/>
              <xs:element type="xs:string" name="FIRST_IVR_CALL_DONE" minOccurs="0"/>
              <xs:element type="xs:string" name="FIRST_CALL_DONE" minOccurs="0"/>
              <xs:element type="xs:string" name="SUBSCRIBER_STATUS" minOccurs="0"/>              
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

