dm_cs_Azure/JavaAPI/CreateJibxObject/src/main/resources/ProductMapping.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PRODUCT_MAPPING_LIST">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PRODUCT_MAPPING_INFO" maxOccurs="unbounded">
          <xs:complexType>
            <xs:all>
              <xs:element type="xs:string" name="BT_PERIODIC_CHARGE_NAME"/>
              <xs:element type="xs:string" name="BT_PC_ID"/>
              <xs:element type="xs:string" name="PC_BT_Value"/>
              <xs:element type="xs:string" name="Balance_Type_Name"/>
              <xs:element type="xs:string" name="BT_ID"/>
              <xs:element type="xs:string" name="PT_Name"/>
              <xs:element type="xs:string" name="BT_Group_Identifier"/>
              <xs:element type="xs:string" name="Symbols"/>
              <xs:element type="xs:string" name="BT_Value"/>
              <xs:element type="xs:string" name="Resource"/>
              <xs:element type="xs:string" name="Ignore_Flag"/>
              <xs:element type="xs:string" name="Product_Private"/>
              <xs:element type="xs:string" name="Offer_Type"/>
              <xs:element type="xs:string" name="Offer_ID"/>
              <xs:element type="xs:string" name="Start_Date"/>
              <xs:element type="xs:string" name="Expiry_Date"/>
              <xs:element type="xs:string" name="UC_ID"/>
              <xs:element type="xs:string" name="UT_ID"/>
              <xs:element type="xs:string" name="UT_Value"/>
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>